<div
  name="<%= card.value %>"
  class="card
         <%= back == true ? '_back' : ('_' + card.value.downcase) %>
         <%= card.chosen ? 'chosen' : '' %>
         <%= selectable ? 'selectable' : '' %>"
  style="top: <%= y %>px; left: <%= x %>px">
    &nbsp;
</div>
