<div
  name="<%= card.id %>"
  class="card
         <%= back == true ? '_back' : ('_' + card.id.downcase) %>
         <%= !back && card.chosen ? 'chosen' : '' %>
         <%= selectable ? 'selectable' : '' %>"
  style="top: <%= y %>px; left: <%= x %>px">
    &nbsp;
</div>
