<div
  class="player"
  style="<%= style_position(position, unit:'px') %>">

  <div><%= player.name %></div>

  <div><%= player.has_won ? 'WON' : '' %></div>

  <% unless round.player_won %>
    <div><%= player.has_drawn_card ? 'DRAWN' : '' %></div>
    <div><%= player == round.current_player ? 'PLAYING...' : '' %></div>
  <% end %>
</div>
