<div
  class="player"
  style="<%= style_position(position, unit:'px') %>">

  <div><%= player.name %></div>

  <div><%= player.won? ? 'WON' : '' %></div>
  <% if round.current_player.id == player.id %>
  <div>Score: <%= player.score %></div>
  <% end %>

  <% unless round.player_won || round.current_player.id == @player_id %>
    <div><%= player == round.current_player ? 'PLAYING...' : '' %></div>
  <% end %>
</div>
