<div
  class="player"
  style="<%= style_position(position, unit:'px') %>">

  <div><%= player.name %></div>

  <div><%= player.won? ? 'WON' : '' %></div>

  <div>
    Score:
    <%= player.game_score %>
    <% if player.id == @player_id %>
        (<%= player.score %>)
    <% end %>
  </div>

  <% unless round.player_won || round.current_player_turn.id == @player_id %>
    <div><%= player == round.current_player_turn ? 'PLAYING...' : '' %></div>
  <% end %>
</div>

<%#
    Current turn: @round.current_player_turn
    Current perspective: @player_id
    Player being enumerated: player
%>
