<div class="zone pickup">
  <%= render partial: 'stack', locals: { position: Position.new(left: 5, top: 5), card_stack: @pickup, spacing_x: 0.5, spacing_y: 0.5, back: true } %>
  <%= render partial: 'stack', locals: { position: Position.new(left: 120, top: 15), card_stack: @discard, spacing_x: 12, spacing_y: 0, back: false } %>
</div>

<div class="zone players">
  <% @players.select{ |player| player != @round.selected_player }.each.with_index do |player, index| %>
    <%= render partial: 'player', locals: { position: Position.new(left: 10, top: 10 + index * 130), player: player } %>
    <%= render partial: 'stack', locals: { position: Position.new(left: 100, top: 10 + index * 130), card_stack: player.hand, spacing_x: 12, spacing_y: 0, back: true } %>
    <%= render partial: 'melds', locals: { position: Position.new(left: player.hand.length * 24 + 10 + 90, top: 10 + index * 130), round: @round, player: player } %>
  <% end %>
  <div style="position:absolute; left: 0; top: <%= (@players.length - 1) * 130 %>px">&nbsp;</div>
</div>

<div class="zone user">
  <%= render partial: 'player', locals: { position: Position.new(left: 10, top: 10), player: @round.selected_player } %>
  <%= render partial: 'stack', locals: { position: Position.new(left: 100, bottom: 130), card_stack: @round.selected_player.hand, spacing_x: 12, spacing_y: 0, back: false } %>
  <%= render partial: 'melds', locals: { position: Position.new(left: 100 + @round.selected_player.hand.length * 12 + 10 + 90, top: 10), round: @round, player: @round.selected_player } %>
</div>

<div style="position: absolute; top: 0px; right: 20px; width: 200px; height: 400px; background-color: rgba(0, 100, 0, 0.5); overflow: auto; padding: 10px; margin-top: 20px">
  <div style="font-size:16px; font-weight: bold">Discard</div>
  <%= form_tag(:controller => :discard, :action => :create, :player_id => @player_id) do %>
      <% @round.selected_player.hand.each do |card| %>
          <%= button_tag(
                  type: 'submit',
                  name: 'discard',
                  value: card.value) do %>
              <%= card.value %>
          <% end %>
      <% end %>
  <% end # form %>

  <div style="font-size:16px; font-weight: bold">Meld</div>
  <%= form_tag(:controller => :meld, :action => :create, :player_id => @player_id) do %>

      <% @round.selected_player.hand.each do |card| %>
          <%= check_box('cards', card.value, {:multiple => true}, card.value, nil) %><%= card.value %>
      <% end %>

      <%= button_tag(
              type: 'submit',
              name: 'meld',
              value: 'meld') do %>
          Meld
      <% end %>

  <% end # form %>

  <div style="font-size:16px; font-weight: bold">Draw</div>
  <%= form_tag(:controller => :draw, :action => :create, :player_id => @player_id) do %>
      <%= button_tag(
              type: 'submit',
              name: 'pickup',
              value: 'pickup') do %>
          Draw
      <% end %>
  <% end # form %>

  <div style="font-size:16px; font-weight: bold">Sweep</div>
  <%= form_tag(:controller => :draw_discarded, :action => :create, :player_id => @player_id) do %>
      <% @discard.compact.each do |card| %>
          <%= button_tag(
                  type: 'submit',
                  name: 'draw',
                  value: card.value) do %>
              <%= card.value %>
          <% end %>
      <% end %>
  <% end # form %>

  <div style="font-size:16px; font-weight: bold">Summon</div>
  <%= form_tag(:controller => :summon, :action => :create, :player_id => @player_id) do %>
      <%= text_field_tag 'card' %>
      <%= button_tag(
              type: 'submit',
              name: 'pickup',
              value: 'pickup') do %>
          Draw
      <% end %>
  <% end # form %>
</div>
