<div class="zone pickup">
  <%= render partial: 'stack', locals: {position: Position.new(left: 5, top: 5), card_stack: @pickup, spacing_x: 0.5, spacing_y: 0.5, back: true, selectable: @round.can_draw_card?, sorted: false } %>
  <%= render partial: 'stack', locals: {position: Position.new(left: 120, top: 15), card_stack: @discard, spacing_x: 12, spacing_y: 0, back: false, selectable: @round.can_draw_card?, sorted: false } %>
</div>

<div class="zone players">
  <% @players.select{ |player| player != @round.selected_player }.each.with_index do |player, index| %>
    <%= render partial: 'player', locals: { position: Position.new(left: 10, top: 10 + index * 130), player: player, round: @round } %>
    <%= render partial: 'stack', locals: { position: Position.new(left: 100, top: 10 + index * 130), card_stack: player.hand, spacing_x: 12, spacing_y: 0, back: true, selectable: false, sorted: true } %>
    <%= render partial: 'melds', locals: { position: Position.new(left: player.hand.length * 24 + 10 + 90, top: 10 + index * 130), round: @round, player: player, selectable: false } %>
  <% end %>
  <div style="position:absolute; left: 0; top: <%= (@players.length - 1) * 130 %>px">&nbsp;</div>
</div>

<div class="zone user">
  <%= render partial: 'player', locals: { position: Position.new(left: 10, bottom: 10), player: @round.selected_player, round: @round } %>
  <%= render partial: 'stack', locals: { position: Position.new(left: 100, top: 20), card_stack: @round.selected_player.hand, spacing_x: 12, spacing_y: 0, back: false, selectable: (@round.selected_player == @round.current_player && @round.selected_player.has_drawn_card), sorted: true } %>
  <%= render partial: 'melds', locals: { position: Position.new(left: 100 + @round.selected_player.hand.length * 12 + 10 + 90, top: 20), round: @round, player: @round.selected_player } %>
</div>

<div style="position: absolute; top: 0px; right: 20px; width: 200px; height: 400px; background-color: rgba(0, 100, 0, 0.5); overflow: auto; padding: 10px; margin-top: 20px">

  <% if @round.can_play_hand? %>

    <div style="font-size:16px; font-weight: bold">Discard</div>

      <%= form_tag(:controller => :discard, :action => :create, :player_id => @player_id) do %>
        <% @round.selected_player.hand.sorted.each do |card| %>
            <%= button_tag(
                    type: 'submit',
                    name: 'discard',
                    value: card.value) do %>
                <%= raw card_button_text(card) %>
            <% end %>
        <% end %>
    <% end # form %>
  <% end %>

  <% if @round.can_play_hand? %>

    <div style="font-size:16px; font-weight: bold">Meld</div>

    <%= form_tag(:controller => :meld, :action => :create, :player_id => @player_id) do %>

      <% @round.selected_player.hand.sorted.each do |card| %>
          <%= check_box('cards', card.value, {:multiple => true}, card.value, nil) %><%= raw card_button_text(card) %>
      <% end %>

      <div>
        <%= button_tag(
          type: 'submit',
          name: 'meld',
          value: 'meld') do %>
            Meld
        <% end %>
      </div>

      <% if @round.selected_player.hand.find(value: 'joker') %>
        <div>Joker 1: <%= text_field_tag 'joker1' %></div>
      <% end %>
      <% if @round.selected_player.hand.find(value: 'joker2') %>
        <div>Joker 2: <%= text_field_tag 'joker2' %></div>
      <% end %>

    <% end # form %>
  <% end %>

  <% if @round.can_draw_card? %>
    <div style="font-size:16px; font-weight: bold">Draw</div>
    <%= form_tag(:controller => :draw, :action => :create, :player_id => @player_id) do %>
        <%= button_tag(
              type: 'submit',
              name: 'pickup',
              value: 'pickup') do %>
            Draw
          <% end %>
    <% end # form %>
  <% end %>

  <% if @round.can_draw_card? %>
    <div style="font-size:16px; font-weight: bold">Sweep</div>
    <%= form_tag(:controller => :draw_discarded, :action => :create, :player_id => @player_id) do %>
      <% @discard.sorted.compact.each do |card| %>
          <%= button_tag(
                  type: 'submit',
                  name: 'draw',
                  value: card.value) do %>
              <%= card.value %>
          <% end %>
        <% end %>
    <% end # form %>
  <% end %>

  <% if false %>
    <div style="font-size:16px; font-weight: bold">Summon</div>
    <%= form_tag(:controller => :summon, :action => :create, :player_id => @player_id) do %>
        <%= text_field_tag 'card' %>
        <%= button_tag(
                type: 'submit',
                name: 'pickup',
                value: 'pickup') do %>
            Draw
        <% end %>
    <% end # form %>
  <% end %>

  <div style="font-size:16px; font-weight: bold">Joker replacement</div>
  <div>JOKER1: <%= joker1 = @round.find_card(value: 'joker'); (joker1&.suite || '') + (joker1&.rank&.to_s || '') %></div>
  <div>JOKER2: <%= joker2 = @round.find_card(value: 'joker2'); (joker2&.suite || '') + (joker2&.rank&.to_s || '') %></div>

  <% if @round.can_play_hand? %>
    <%= form_tag(:controller => :joker_grab, :action => :create, :player_id => @player_id) do %>
        <% @round.selected_player.hand.sorted.compact.each do |card|
          if joker1.suite == card.suite && joker1.rank == card.rank %>
              <%= button_tag(
                      type: 'submit',
                      name: 'card',
                      value: card.value) do %>
                  <%= raw card_button_text(card) %>
              <% end %>
          <% end
          if joker2.suite == card.suite && joker2.rank == card.rank %>
            <%= button_tag(
                  type: 'submit',
                  name: 'card',
                  value: card.value) do %>
              <%= raw card_button_text(card) %>
            <% end %>
          <% end %>
      <% end %>
    <% end # form %>
  <% end %>

</div>
