<div class="qzone qpickup">
  <%= render partial: 'stack', locals: { position: Position.new(left: 5, top: 5),  cards: @pickup, spacing_x: 2, spacing_y: 2 } %>
  <%= render partial: 'stack', locals: { position: Position.new(left: 120, top: 20), cards: @discard, spacing_x: 12, spacing_y: 0 } %>
</div>

<div class="zone players">
  <%= render partial: 'stack', locals: { position: Position.new(left: 10, top: 10), cards: @player2, spacing_x: 5, spacing_y: 0 } %>
  <%
    offset = @player2.length * 5 + 10 + 90

    @player2_melds.each do |meld| %>
      <%= render partial: 'stack', locals: { position: Position.new(left: offset, top: 10),  cards: meld, spacing_x: 12, spacing_y: 0 } %>

      <% offset += meld.length * 12 + 90 %>
    <% end
  %>

</div>

<div class="qzone quser">
  <%= render partial: 'stack', locals: { position: Position.new(left: 10, bottom: 130), cards: @player1, spacing_x: 12, spacing_y: 0 } %>
</div>
